<mdl-card-supporting-text class="full-height">
  <div class="vertical-align">
    <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <mdl-textfield class="mdl-cell--10-col-desktop mdl-cell--12-col-tablet" value="{{firstName}}" disabled type="text" label="Nombre" floating-label name="firstName"></mdl-textfield>
    </div>
    <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <mdl-textfield class="mdl-cell--10-col-desktop mdl-cell--12-col-tablet" type="text" label="Apellidos" autofocus [(ngModel)]="lastName" floating-label name="firstName"></mdl-textfield>
    </div>
    <div class="mdl-cell--12-col" >
      <button mdl-button mdl-ripple (click)="nextStepper()" class="background-primary background-hover color-white small-text">
        Siguente
      </button>
    </div>
  </div>
</mdl-card-supporting-text>