:host {
  height: 100%;
  text-align: center;
}
.mdl-card__supporting-text {
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: 0;
}
.mdl-button:hover {
  background-color: #004D40 }
.color-white {
  color: white;
}
.full-height {
  height: 100%;
}
.vertical-align {
  position: relative;
  top: 32%;
  transform: translateY(-50%);
}