<mdl-layout>
  <mdl-layout-content>
    <div class="mdl-grid--no-spacing main-container">
      <div class="mdl-cell--8-col-xl mdl-cell--7-col-desktop mdl-cell--hide-phone mdl-cell--hide-tablet text-center">
        <div class="vertical-align vertical-space">
          <img src="assets/img/logo.png">
          <h2 class="extra-large-text">¡Bienvenido a tu Tututor!</h2>
          <h4 class="medium-text">Conseguir un tutor nunca ha sido tan fácil.</h4>
        </div>
      </div>
      <div class="mdl-cell--4-col-xl mdl-cell--5-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <mdl-card class="vertical-align " mdl-shadow="4">
          <mdl-card-title class="background-primary color-white">
            <h2 mdl-card-title-text class="extra-large-text">Acceder</h2>
          </mdl-card-title>
          <mdl-card-supporting-text class="text-center">
            <form [formGroup]="form">
              <div class="mdl-grid container-space">
                <div class="mdl-cell--2-col-xl mdl-cell--2-col-desktop mdl-cell--1-col-tablet mdl-cell--2-col-phone input-icon">
                  <span class="text-color"><i class="material-icons color-primary">email</i></span>
                </div>
                <div class="mdl-cell--10-col-xl mdl-cell--10-col-desktop mdl-cell--11-col-tablet mdl-cell--10-col-phone">
                  <mdl-textfield class="input-container" formControlName="email" type="email" label="Correo electrónico" floating-label name="email" [(ngModel)]="user.email"></mdl-textfield>
                </div>
                <div class="mdl-cell--2-col-xl mdl-cell--2-col-desktop mdl-cell--1-col-tablet mdl-cell--2-col-phone input-icon">
                  <span class="text-color"><i class="material-icons color-primary">lock</i></span>
                </div>
                <div class="mdl-cell--10-col-xl mdl-cell--10-col-desktop mdl-cell--11-col-tablet mdl-cell--10-col-phone">
                  <mdl-textfield class="input-container" type="password" formControlName="password" label="Contraseña" floating-label name="password" [(ngModel)]="user.password"></mdl-textfield>
                </div>
                <div class="icon-container">
                  <img src="assets/img/facebook.png" class="right cursor" (click)="facebookAuth()">
                </div>
                <div class="icon-container">
                  <img src="assets/img/google.png" class="left cursor" (click)="googleAuth()">
                </div>
                <div class="icon-container">
                  <button mdl-button mdl-ripple type="button" class="color-primary background-hover small-text" (click)="register()">
                    Registrarse
                  </button>
                </div>
                <div class="icon-container">
                  <button mdl-button mdl-ripple type="submit" [disabled]="!form.valid" class="background-primary background-hover color-white small-text" (click)="emailAuth()">
                    Iniciar sesión
                  </button>
                </div>
                <p class="color-primary text-center full-width cursor" (click)="signOut()">¿Olvidaste tu contraseña?</p>
              </div>
            </form>
          </mdl-card-supporting-text>
        </mdl-card>
      </div>
    </div>
  </mdl-layout-content>
</mdl-layout>
