:host {
  color: white;
}
.material-icons {
  color: #009688;
}
.input-icon {
  padding: 20px 0;
}
.main-container {
  background: #ffd003;
}
.mdl-layout__container {
  height: 100%;
}
.mdl-layout {
  height: 100%;
}
.text-center {
  text-align: center;
}
.color-primary {
  color: #009688;
}
.color-white {
  color: white;
}
.background-primary {
  background-color: #009688;
}
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  float: right;
}
.left {
  float: left;
}
.icon-container {
  width: 40%;
  margin: 0 auto;
  padding: 20px 0;
}