:host {
  color: white;
}
.material-icons {
  color: #009688;
}
.input-icon {
  padding: 20px 0;
}
.main-container {
  background: #ffd003;
}
.mdl-layout__container {
  height: 100%;
}
.mdl-layout {
  height: 100%;
}
.text-center {
  text-align: center;
}
.container-space {
  padding: 2rem 0;
}
.container-center {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.color-primary {
  color: #009688;
}
.color-white {
  color: white;
}
.background-primary {
  background-color: #009688;
}
.background-hover:hover {
  background-color: #00897B;
  color: white;
}
.right {
  float: right;
}
.left {
  float: left;
}
.icon-container {
  width: 40%;
  margin: 0 auto;
  padding: 20px 0;
}
.padding {
  padding: 1rem 0;
}
.cursor {
  cursor: pointer;
}
.vertical-space {
  line-height: 0.5rem;
}
.full-width {
  width: 100%;
}
@media (max-width: 479px) {
  .full-height {
    height: 100%;
  }
  .extra-large-text {
    font-size: 32px;
  }
  .large-text {
    font-size: 16px;
  }
  .medium-text {
    font-size: 12px;
  }
  .small-text {
    font-size: 12px;
  }
}

@media (min-width: 480px) and (max-width: 839px) {
  .vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .extra-large-text {
    font-size: 32px;
  }
  .large-text {
    font-size: 24px;
  }
  .medium-text {
    font-size: 16px;
  }
  .small-text {
    font-size: 12px;
  }
  .full-height {
    height: 100%;
  }
}

@media (min-width: 840px) {
  .vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-container {
    padding: 0 2rem;
  }
  .full-height {
    height: 90%;
  }
  .extra-large-text {
    font-size: 42px;
  }
  .large-text {
    font-size: 32px;
  }
  .medium-text {
    font-size: 24px;
  }
  .small-text {
    font-size: 16px;
  }
}