<mdl-layout>
  <mdl-layout-content>
  	<div class="mdl-grid">
  		<div class="mdl-cell mdl-cell--8-col mdl-layout--large-screen-only">
  			<img src="assets/img/logo.png" class="vertical-align">
  		</div>
  		<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
  			<mdl-card class="demo-card-square vertical-align" mdl-shadow="4">
				 	<mdl-card-title>
            <h2 mdl-card-title-text>Acceder</h2>
          </mdl-card-title>
  			</mdl-card>
  		</div>
  	</div>
  </mdl-layout-content>
</mdl-layout>