<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
  <mdl-layout-header class="background-primary">
    <mdl-layout-header-row>
      <mdl-layout-spacer></mdl-layout-spacer>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation">
        <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><img [src]="user.photoUrl" class="circle"></button>
        <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
           <mdl-menu-item mdl-ripple (click)="signOut()">Cerrar sesión</mdl-menu-item>
        </mdl-menu>
      </nav>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer class="color-text">
    <mdl-layout-title class="large-text">Tututor</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link">Home</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <div class="mdl-grid main-container">
      <div class="mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            Previous
          </div>
          <div class="btn btn-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            Next
          </div>
        </div>
      </div>
      <div class="mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            (click)="view = 'month'"
            [class.active]="view === 'month'">
            Month
          </div>
          <div
            class="btn btn-primary"
            (click)="view = 'week'"
            [class.active]="view === 'week'">
            Week
          </div>
          <div
            class="btn btn-primary"
            (click)="view = 'day'"
            [class.active]="view === 'day'">
            Day
          </div>
        </div>
      </div>
      <div class="mdl-cell--12-col-desktop">
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </mdl-layout-content>
</mdl-layout>