<mdl-card-supporting-text class="full-height">
  <div class="vertical-align">
    <form class="mdl-grid">
      <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <mdl-textfield class="mdl-cell--10-col-desktop mdl-cell--12-col-tablet" required value="{{email}}" disabled type="email" label="Correo electrónico" floating-label name="email"></mdl-textfield>
      </div>
      <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <mdl-textfield class="mdl-cell--10-col-desktop mdl-cell--12-col-tablet" required value="{{firstName}}" disabled type="text" label="Nombre" floating-label name="firstName"></mdl-textfield>
      </div>
      <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <mdl-textfield class="mdl-cell--10-col-desktop mdl-cell--12-col-tablet" required value="{{lastName}}" disabled type="text" label="Apellidos" floating-label name="lastName"></mdl-textfield>
      </div>
      <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <mdl-textfield class="mdl-cell--10-col-desktop mdl-cell--12-col-tablet" required value="{{phone}}" disabled type="number" label="Número telefónico" floating-label name="phone"></mdl-textfield>
      </div>
      <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <mdl-textfield class="mdl-cell--10-col-desktop mdl-cell--12-col-tablet" required type="file" autofocus label="Foto de perfil" (change)="onChange($event)" floating-label name="photo"></mdl-textfield>
      </div>
      <div class="mdl-cell--12-col-desktop bottom-margin">
        <img [src]="photo" class="small-image">
      </div>
      <div class="mdl-cell--6-col" >
        <button mdl-button mdl-ripple (click)="previousStepper()" class="background-primary background-hover color-white small-text">
          Anterior
        </button>
      </div>
      <div class="mdl-cell--6-col" >
        <button mdl-button mdl-ripple (click)="nextStepper()" class="background-primary background-hover color-white small-text">
          Siguente
        </button>
      </div>
    </form>
  </div>
</mdl-card-supporting-text>