<mdl-card-supporting-text class="full-height">
  <div class="vertical-align">
    <form class="mdl-grid">
      <div class="mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <input type="file" #photo (change)="onChange($event)">
      </div>
      <div class="mdl-cell--12-col-desktop bottom-margin">
        <img [src]="preview" (click)="photo.click()" class="small-image">
      </div>
      <div class="mdl-cell--6-col" >
        <button mdl-button mdl-ripple (click)="previousStepper()" class="background-primary background-hover color-white small-text">
          Anterior
        </button>
      </div>
      <div class="mdl-cell--6-col" >
        <button mdl-button mdl-ripple (click)="nextStepper()" class="background-primary background-hover color-white small-text">
          Siguente
        </button>
      </div>
    </form>
  </div>
</mdl-card-supporting-text>