.mdl-button {
  width: 100%;
  height: 100%;
}
.circle {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.mdl-layout__drawer > .mdl-layout__title, .mdl-layout__drawer > .mdl-layout-title {
  margin: 0;
  padding: 0;
  text-align: center;
}
.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  float: left;
  margin-right: 16px;
}
mdl-list-item {
  height: 8rem;
  width: 50%;
}
mdl-list-item a {
  color: black;
}
.initial-margin {
  margin: 0 16px;
}
@media (min-width: 480px) and (max-width: 839px) {
  .large-text {
    font-size: 24px;
  }
}

@media (min-width: 840px) {
  .large-text {
    font-size: 32px;
  }
}