<mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
  <mdl-layout-header class="background-primary">
    <mdl-layout-header-row>
      <mdl-layout-spacer></mdl-layout-spacer>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation">
        <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><img [src]="user.photo" class="circle"></button>
        <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
           <mdl-menu-item mdl-ripple (click)="signOut()">Cerrar sesión</mdl-menu-item>
        </mdl-menu>
      </nav>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer class="color-text">
    <mdl-layout-title class="large-text">Tututor</mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/student/home" routerLinkActive="active">Inicio</a>
      <a class="mdl-navigation__link" routerLink="/student/find" routerLinkActive="active">Buscar tutor</a>
    </nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <mdl-textfield (blur)="onBlur($event)" [(ngModel)]="filter" type="text" label="Buscar..." floating-label class="initial-margin"></mdl-textfield>
    <mdl-list>
      <mdl-list-item lines="3" *ngFor="let tutor of tutors | async">
        <mdl-list-item-primary-content>
          <img src="{{ tutor.photo }}" class="icon">
          <span>{{ tutor.name }}</span>
          <mdl-list-item-text-body>
            Bryan Cranston played the role of Walter in Breaking Bad. He is also known
            for playing Hal in Malcom in the Middle.
          </mdl-list-item-text-body>
        </mdl-list-item-primary-content>
        <mdl-list-item-secondary-content>
          <a href="#"><mdl-icon>remove_red_eye</mdl-icon></a>
        </mdl-list-item-secondary-content>
      </mdl-list-item>
    </mdl-list>
  </mdl-layout-content>
</mdl-layout>