/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.mdl-layout {
  height: 100%;
}
.mdl-layout__container {
  height: 100%;
}
.mdl-layout__content {
  height: 100%;
}
.background-primary {
  background-color: #009688;
}
.color-primary {
  color: #009688;
}

.mdl-textfield__label:after {
  background-color: #009688;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: #009688; }
@media (max-width: 479px) {
  .mdl-cell--1-col,
  .mdl-cell--1-col-phone.mdl-cell--1-col-phone {
    width: 8.3333333333%; }
  .mdl-cell--2-col,
  .mdl-cell--2-col-phone.mdl-cell--2-col-phone {
    width: 16.6666666667%; }
  .mdl-cell--3-col,
  .mdl-cell--3-col-phone.mdl-cell--3-col-phone {
    width: 25%; }
  .mdl-cell--4-col,
  .mdl-cell--4-col-phone.mdl-cell--4-col-phone {
    width: 33.3333333333%; }
  .mdl-cell--5-col,
  .mdl-cell--5-col-phone.mdl-cell--5-col-phone {
    width: 41.6666666667%; }
  .mdl-cell--6-col,
  .mdl-cell--6-col-phone.mdl-cell--6-col-phone {
    width: 50%; }
  .mdl-cell--7-col,
  .mdl-cell--7-col-phone.mdl-cell--7-col-phone {
    width: 58.3333333333%; }
  .mdl-cell--8-col,
  .mdl-cell--8-col-phone.mdl-cell--8-col-phone {
    width: 66.6666666667%; }
  .mdl-cell--9-col,
  .mdl-cell--9-col-phone.mdl-cell--9-col-phone {
    width: 75%; }
  .mdl-cell--10-col,
  .mdl-cell--10-col-phone.mdl-cell--10-col-phone {
    width: 83.3333333333%; }
  .mdl-cell--11-col,
  .mdl-cell--11-col-phone.mdl-cell--11-col-phone {
    width: 91.6666666667%; }
  .mdl-cell--12-col,
  .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
    width: 100%; }
}
@media (min-width: 480px) and (max-width: 839px) {
  .mdl-cell--1-col,
  .mdl-cell--1-col-tablet.mdl-cell--1-col-tablet {
    width: 8.3333333333%; }
  .mdl-cell--2-col,
  .mdl-cell--2-col-tablet.mdl-cell--2-col-tablet {
    width: 16.6666666667%; }
  .mdl-cell--3-col,
  .mdl-cell--3-col-tablet.mdl-cell--3-col-tablet {
    width: 25%; }
  .mdl-cell--4-col,
  .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet {
    width: 33.3333333333%; }
  .mdl-cell--5-col,
  .mdl-cell--5-col-tablet.mdl-cell--5-col-tablet {
    width: 41.6666666667%; }
  .mdl-cell--6-col,
  .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
    width: 50%; }
  .mdl-cell--7-col,
  .mdl-cell--7-col-tablet.mdl-cell--7-col-tablet {
    width: 58.3333333333%; }
  .mdl-cell--8-col,
  .mdl-cell--8-col-tablet.mdl-cell--8-col-tablet {
    width: 66.6666666667%; }
  .mdl-cell--9-col,
  .mdl-cell--9-col-tablet.mdl-cell--9-col-tablet {
    width: 75%; }
  .mdl-cell--10-col,
  .mdl-cell--10-col-tablet.mdl-cell--10-col-tablet {
    width: 83.3333333333%; }
  .mdl-cell--11-col,
  .mdl-cell--11-col-tablet.mdl-cell--11-col-tablet {
    width: 91.6666666667%; }
  .mdl-cell--12-col,
  .mdl-cell--12-col-tablet.mdl-cell--12-col-tablet {
    width: 100%; }
}
@media (min-width: 840px) and (max-width: 1239px) {
  .mdl-cell--1-col,
  .mdl-cell--1-col-desktop.mdl-cell--1-col-desktop {
    width: 8.3333333333%; }
  .mdl-cell--2-col,
  .mdl-cell--2-col-desktop.mdl-cell--2-col-desktop {
    width: 16.6666666667%; }
  .mdl-cell--3-col,
  .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
    width: 25%; }
  .mdl-cell--4-col,
  .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
    width: 33.3333333333%; }
  .mdl-cell--5-col,
  .mdl-cell--5-col-desktop.mdl-cell--5-col-desktop {
    width: 41.6666666667%; }
  .mdl-cell--6-col,
  .mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
    width: 50%; }
  .mdl-cell--7-col,
  .mdl-cell--7-col-desktop.mdl-cell--7-col-desktop {
    width: 58.3333333333%; }
  .mdl-cell--8-col,
  .mdl-cell--8-col-desktop.mdl-cell--8-col-desktop {
    width: 66.6666666667%; }
  .mdl-cell--9-col,
  .mdl-cell--9-col-desktop.mdl-cell--9-col-desktop {
    width: 75%; }
  .mdl-cell--10-col,
  .mdl-cell--10-col-desktop.mdl-cell--10-col-desktop {
    width: 83.3333333333%; }
  .mdl-cell--11-col,
  .mdl-cell--11-col-desktop.mdl-cell--11-col-desktop {
    width: 91.6666666667%; }
  .mdl-cell--12-col,
  .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
    width: 100%; }
}

@media (min-width: 1240px) {
  .mdl-cell--1-col,
  .mdl-cell--1-col-xl.mdl-cell--1-col-xl {
    width: 8.3333333333% !important; }
  .mdl-cell--2-col,
  .mdl-cell--2-col-xl.mdl-cell--2-col-xl {
    width: 16.6666666667% !important; }
  .mdl-cell--3-col,
  .mdl-cell--3-col-xl.mdl-cell--3-col-xl {
    width: 25% !important; }
  .mdl-cell--4-col,
  .mdl-cell--4-col-xl.mdl-cell--4-col-xl {
    width: 33.3333333333% !important; }
  .mdl-cell--5-col,
  .mdl-cell--5-col-xl.mdl-cell--5-col-xl {
    width: 41.6666666667% !important; }
  .mdl-cell--6-col,
  .mdl-cell--6-col-xl.mdl-cell--6-col-xl {
    width: 50% !important; }
  .mdl-cell--7-col,
  .mdl-cell--7-col-xl.mdl-cell--7-col-xl {
    width: 58.3333333333% !important; }
  .mdl-cell--8-col,
  .mdl-cell--8-col-xl.mdl-cell--8-col-xl {
    width: 66.6666666667% !important; }
  .mdl-cell--9-col,
  .mdl-cell--9-col-xl.mdl-cell--9-col-xl {
    width: 75% !important; }
  .mdl-cell--10-col,
  .mdl-cell--10-col-xl.mdl-cell--10-col-xl {
    width: 83.3333333333% !important; }
  .mdl-cell--11-col,
  .mdl-cell--11-col-xl.mdl-cell--11-col-xl {
    width: 91.6666666667% !important; }
  .mdl-cell--12-col,
  .mdl-cell--12-col-xl.mdl-cell--12-col-xl {
    width: 100% !important; }
}

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer-button {
    color: white } }
@media screen and (min-width: 1025px) {
  .mdl-layout__drawer {
    width: 20%; }
  .mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
    width: 80%;
    margin-left: 20%; }
  .mdl-layout--fixed-drawer > .mdl-layout__content {
    width: 80%;
    margin-left: 20%;
  } }