:host {
  color: white;
}
.main-container {
  background: #ffd003;
  display: flex;
  height: 100%;
}
.full-height {
  height: 100%;
}
.text-center {
  text-align: center;
}
.color-white {
  color: white;
}
.icon-container {
  width: 40%;
  margin: 0 auto;
  padding: 1rem 0;
}
.input-icon {
  padding: 1.5rem 0;
}
.container-space {
  padding: 1rem 0;
}
.text-center {
  text-align: center;
}
.input-container {
  width: 90%;
  margin: 0 auto;
}
.full-width {
  width: 100%;
}
.cursor {
  cursor: pointer;
}
.mdl-card__supporting-text {
  width: 100%;
  padding: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
@media (min-width: 480px) and (max-width: 839px) {
  .icon-container {
    width: 45%;
  }
  .extra-large-text {
    font-size: 32px;
  }
  .large-text {
    font-size: 24px;
  }
  .medium-text {
    font-size: 16px;
  }
  .small-text {
    font-size: 12px;
  }
  .full-height {
    height: 100%;
  }
  .mdl-button {
    width: 90%;
  }
}

@media (min-width: 840px) {
  .vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-container {
    padding: 0 2rem;
  }
  .full-height {
    height: 90%;
  }
  .extra-large-text {
    font-size: 42px;
  }
  .large-text {
    font-size: 32px;
  }
  .medium-text {
    font-size: 24px;
  }
  .small-text {
    font-size: 14px;
  }
}
