<mdl-layout>
  <mdl-layout-content>
    <div class="mdl-grid--no-spacing main-container">
      <div class="mdl-cell--9-col-xl mdl-cell--8-col-desktop mdl-cell--hide-phone mdl-cell--hide-tablet text-center">
        <div class="vertical-align vertical-space">
          <img src="assets/img/logo.png">
          <h2 class="extra-large-text">¡Bienvenido a tu Tututor!</h2>
          <h4 class="medium-text">Conseguir un tutor nunca ha sido tan fácil</h4>
        </div>
      </div>
      <div class="mdl-cell--3-col-xl mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <mdl-card class="vertical-align full-width full-height" mdl-shadow="4">
        <mdl-card-title class="background-primary color-white">
          <nav class="full-width flex-container">
            <a class="medium-text list-items text-center link-no-style" routerLink="/register" routerLinkActive="active">ᗧ</a>
            <a class="medium-text list-items text-center link-no-style" routerLink="/register/email" routerLinkActive="active">ᗧ</a>
            <a class="medium-text list-items text-center link-no-style" routerLink="/register/name" routerLinkActive="active">ᗧ</a>
            <a class="medium-text list-items text-center link-no-style" routerLink="/register/country" routerLinkActive="active">ᗧ</a>
            <a class="medium-text list-items text-center link-no-style" routerLink="/register/tutor" routerLinkActive="active">ᗧ</a>
          </nav>
        </mdl-card-title>
        <router-outlet></router-outlet>
      </mdl-card>
      </div>
    </div>
  </mdl-layout-content>
</mdl-layout>