:host {
  color: white;
}
#logo-container{
  padding-left: 20%;
}
a {
  color: white;
}
.main-container {
  background-size: cover;
  background-image:url("../../assets/img/math.jpg");
  display: flex;
  height: 100%;
}
.full-height {
  height: 100%;
}
.text-center {
  text-align: center;
}
.color-white {
  color: white;
}
.link-no-style {
  text-decoration: none;
}
.flex-container {
  display: flex;
}
.icon-container {
  width: 40%;
  margin: 0 auto;
  padding: 1rem 0;
}
.input-icon {
  padding: 1.5rem 0;
}
.container-space {
  padding: 1rem 0;
}
.input-container {
  width: 90%;
  margin: 0 auto;
}
.full-width {
  width: 100%;
}
.cursor {
  cursor: pointer;
}
.card-title {
  min-height: 5rem;
}
.list-no-style {
  list-style: none;
}
.list-items {
  width: 20%;
}
@media (max-width: 480px) {
  .active {
    font-size: 24px !important;
  }
}

mdl-card-supporting-text{
  width: auto;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;

}
mdl-card{
  width: 65%;
  height: 65%;
}

@media (min-width: 320px) and (max-width: 839px) {
  mdl-card{
    width: 100%;
    height: 100%;
  }
  mdl-card-supporting-text{
    height: inherit;
  }

  .icon-container {
    width: 45%;
  }
  .extra-large-text {
    font-size: 32px;
  }
  .active {
    font-size: 24px !important;
  }
  .large-text {
    font-size: 24px;
  }
  .medium-text {
    font-size: 20px;
  }
  .small-text {
    font-size: 12px;
  }
  .full-height {
    height: 100%;
  }
  .mdl-button {
    width: 90%;
  }
}

@media (min-width: 840px) {

  .vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-container {
    padding: 0 2rem;
  }
  .extra-large-text {
    font-size: 42px;
  }
  .active {
    font-size: 32px !important;
  }
  .large-text {
    font-size: 32px;
  }
  .medium-text {
    font-size: 26px;
  }
  .small-text {
    font-size: 14px;
  }
}
