  <div>
    <form class="mdl-grid" [formGroup]="form">
      <div class="mdl-cell--12-col margin-bottom">
        <img src="assets/img/vista_tres.svg" class="full-height img">
      </div>
      <div class="mdl-cell--6-col margin-bottom">
        <mdl-radio  value="male" [(ngModel)]="gender" formControlName="data" mdl-ripple>Masculino</mdl-radio>
      </div>
      <div class="mdl-cell--6-col margin-bottom">
        <mdl-radio value="female" [(ngModel)]="gender" formControlName="data" mdl-ripple>Femenino</mdl-radio>
      </div>
      <div class="mdl-cell--6-col">
        <button mdl-button mdl-ripple (click)="previousStepper()" class="background-primary background-hover color-white small-text">
          Anterior
        </button>
      </div>
      <div class="mdl-cell--6-col">
        <button mdl-button [disabled]="!form.valid" mdl-ripple (click)="nextStepper()" class="background-primary background-hover color-white small-text">
          Siguente
        </button>
      </div>
    </form>
  </div>
